header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
header > .menu {
  display: flex;
  gap: 50px;
}

button {
  all: unset;
  cursor: pointer;
  font-size: 30px;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.list_contents {
  display: flex;
  gap: 50px;
}

.list_contents > img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

#contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  gap: 10px;
}

#title {
  font-size: 40px;
  font-weight: 500;
}

#desc {
  font-size: 19px;
}

#date {
  font-size: 18px;
  color: grey;
}
